# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ETUdotNet.iml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\ETUdotNet\.idea\.idea.ETUdotNet\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
